body {background-color: #00ccff}
#quote-box {display:flex;}
.quote-info {
  margin:auto;
  vertical-align: middle;
  text-align:center;
  padding: 50px;
  transform: translateY(50%);
  width:500px;
  height:150px;
}
.button {
  width:100%;
  height:25px;
  border:1px solid black;
  box-shadow: 2px 2px 5px #000000;
  margin: 10px 0px;
  cursor:pointer;
}
a.button {
  color:#000000;
  text-decoration: none;
  padding: 2px 208px;
}